{{define "header"}}
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/main"><h3><span class="text-primary">L</span>ogistic</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{if .PageName eq "Home"}}
                    <a class="nav-item nav-link active" href="/main">Home</a>
                {{else}}
                    <a class="nav-item nav-link" href="/main">Home</a>
                {{end}}
                <a class="nav-item nav-link" href="/advert">Advert</a>
                <a class="nav-item nav-link" href="/auth">Profile</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</header>
{{end}}